* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(240 242 245);
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.log-int {
  background-color: #ffffff;
  width: 480px;
  border-radius: 11px;

  height: 450px;
}
.inp {
  display: inline-block;
  width: 400px;
  margin: 20px;
  padding: 10px;
  height: 28px;
  border-radius: 7px;
  border: 1px solid gainsboro;
}
.log {
  display: inline-block;
  width: 430px;
  margin: 30px 20px 20px;
  font-size: medium;
  height: 50px;
  border-radius: 7px;
  background-color: rgba(24 119 242);
  border: 1px solid blue;
}
.text-forgot {
  
  text-align: center;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}

.text-forgot:hover{
  text-decoration: underline;
  color: #1877f2;
  cursor: pointer;
}

/* .checking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  color: rgb(50 32 231);
  font-size: large;
} */

hr {
  color: rgb(11, 172, 212);
  margin: 20px 15px;
}
.btn {
    display: inline-block;
    width: 260px;
    margin: 20px 110px 20px;
    font-size: medium;
    height: 55px;
    border-radius: 12px;
    background-color: rgb(66 183 4 / 76% );
    border: 1px solid rgb(66 183 4 / 76%);
}
.main-text{
    color: #0866ff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}
.des-text{
  
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
}
